<!-- Carousel Start -->
<app-home-slider></app-home-slider>
<!-- Carousel End -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">{{'SchoolFacilities'|translate}}</h1>
      <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit
        eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="facility-item">
          <div class="facility-icon bg-primary">
            <span class="bg-primary"></span>
            <i class="fa fa-bus-alt fa-3x text-primary"></i>
            <span class="bg-primary"></span>
          </div>
          <div class="facility-text bg-primary">
            <h3 class="text-primary mb-3">{{'schoolBus'|translate}}</h3>
            <p class="mb-0">Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="facility-item">
          <div class="facility-icon bg-success">
            <span class="bg-success"></span>
            <i class="fa fa-futbol fa-3x text-success"></i>
            <span class="bg-success"></span>
          </div>
          <div class="facility-text bg-success">
            <h3 class="text-success mb-3">{{'Playground'|translate}}</h3>
            <p class="mb-0">Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="facility-item">
          <div class="facility-icon bg-warning">
            <span class="bg-warning"></span>
            <i class="fa fa-home fa-3x text-warning"></i>
            <span class="bg-warning"></span>
          </div>
          <div class="facility-text bg-warning">
            <h3 class="text-warning mb-3">{{'healthyCanteen'|translate}}</h3>
            <p class="mb-0">Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="facility-item">
          <div class="facility-icon bg-info">
            <span class="bg-info"></span>
            <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
            <span class="bg-info"></span>
          </div>
          <div class="facility-text bg-info">
            <h3 class="text-info mb-3">{{'positiveLearning'|translate}}</h3>
            <p class="mb-0">Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Facilities End -->


<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="mb-4">{{'Learn More About Our Work And Our Cultural Activities'|translate}}</h1>
        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
          Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
        </p>
        <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam
          rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus
          dolor eos, ipsum labore duo duo sit no sea diam. Et dolor et kasd ea. Eirmod diam at dolor
          est vero nonumy magna.</p>
        <div class="row g-4 align-items-center">
          <div class="col-sm-6">
            <a class="btn btn-primary rounded-pill py-3 px-5" href="">{{'readMore'|translate}}</a>
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center">
              <img class="rounded-circle flex-shrink-0" src="../../../../assets/img/user.jpg" alt=""
                style="width: 45px; height: 45px;">
              <div class="ms-3">
                <h6 class="text-primary mb-1">Jhon Doe</h6>
                <small>CEO & Founder</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
        <div class="row">
          <div class="col-12 text-center">
            <img class="img-fluid w-75 rounded-circle bg-light p-3" src="../../../../assets/img/about-1.jpg" alt="">
          </div>
          <div class="col-6 text-start" style="margin-top: -150px;">
            <img class="img-fluid w-100 rounded-circle bg-light p-3" src="../../../../assets/img/about-2.jpg" alt="">
          </div>
          <div class="col-6 text-end" style="margin-top: -150px;">
            <img class="img-fluid w-100 rounded-circle bg-light p-3" src="../../../../assets/img/about-3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Call To Action Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="bg-light rounded">
      <div class="row g-0">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100 rounded" src="../../../../assets/img/call-to-action.jpg"
              style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <div class="h-100 d-flex flex-column justify-content-center p-5">
            <h1 class="mb-4">{{"Become A Teacher"|translate}}</h1>
            <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
              amet diam et eos.
              Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore
              erat amet
            </p>
            <a class="btn btn-primary py-3 px-5" href="">{{"Get Started Now"|translate}}<i
                class="fa fa-arrow-right ms-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Call To Action End -->


<!-- Classes Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">{{'School Classes'|translate}}</h1>
      <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit
        eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="classes-item">
          <div class="bg-light rounded-circle w-75 mx-auto p-3">
            <img class="img-fluid rounded-circle" src="../../../../assets/img/classes-1.jpg" alt="">
          </div>
          <div class="bg-light rounded p-4 pt-5 mt-n5">
            <a class="d-block text-center h3 mt-3 mb-4" href="">{{'Art & Drawing'|translate}}</a>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="d-flex align-items-center">
                <img class="rounded-circle flex-shrink-0" src="../../../../assets/img/user.jpg" alt=""
                  style="width: 45px; height: 45px;">
                <div class="ms-3">
                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                  <small>{{'Teacher'|translate}}</small>
                </div>
              </div>
              <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
            </div>
            <div class="row g-1">
              <div class="col-4">
                <div class="border-top border-3 border-primary pt-2">
                  <h6 class="text-primary mb-1">{{'Age'|translate}}:</h6>
                  <small>3-5 {{'Years'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-success pt-2">
                  <h6 class="text-success mb-1">{{'Time'|translate}}:</h6>
                  <small>9-10 {{'AM'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-warning pt-2">
                  <h6 class="text-warning mb-1">{{'Capacity'|translate}}:</h6>
                  <small>30 {{'Kids'|translate}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="classes-item">
          <div class="bg-light rounded-circle w-75 mx-auto p-3">
            <img class="img-fluid rounded-circle" src="../../../../assets/img/classes-2.jpg" alt="">
          </div>
          <div class="bg-light rounded p-4 pt-5 mt-n5">
            <a class="d-block text-center h3 mt-3 mb-4" href="">{{'Color Management'|translate}}</a>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="d-flex align-items-center">
                <img class="rounded-circle flex-shrink-0" src="../../../../assets/img/user.jpg" alt=""
                  style="width: 45px; height: 45px;">
                <div class="ms-3">
                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                  <small>{{'Teacher'|translate}}</small>
                </div>
              </div>
              <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
            </div>
            <div class="row g-1">
              <div class="col-4">
                <div class="border-top border-3 border-primary pt-2">
                  <h6 class="text-primary mb-1">{{'Age'|translate}}:</h6>
                  <small>3-5 {{'Years'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-success pt-2">
                  <h6 class="text-success mb-1">{{'Time'|translate}}:</h6>
                  <small>9-10 {{'AM'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-warning pt-2">
                  <h6 class="text-warning mb-1">{{'Capacity'|translate}}:</h6>
                  <small>30 {{'Kids'|translate}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="classes-item">
          <div class="bg-light rounded-circle w-75 mx-auto p-3">
            <img class="img-fluid rounded-circle" src="../../../../assets/img/classes-3.jpg" alt="">
          </div>
          <div class="bg-light rounded p-4 pt-5 mt-n5">
            <a class="d-block text-center h3 mt-3 mb-4" href="">{{'Athletic & Dance'|translate}}</a>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="d-flex align-items-center">
                <img class="rounded-circle flex-shrink-0" src="../../../../assets/img/user.jpg" alt=""
                  style="width: 45px; height: 45px;">
                <div class="ms-3">
                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                  <small>{{'Teacher'|translate}}</small>
                </div>
              </div>
              <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
            </div>
            <div class="row g-1">
              <div class="col-4">
                <div class="border-top border-3 border-primary pt-2">
                  <h6 class="text-primary mb-1">{{'Age'|translate}}:</h6>
                  <small>3-5 {{'Years'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-success pt-2">
                  <h6 class="text-success mb-1">{{'Time'|translate}}:</h6>
                  <small>9-10 {{'AM'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-warning pt-2">
                  <h6 class="text-warning mb-1">{{'Capacity'|translate}}:</h6>
                  <small>30 {{'Kids'|translate}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="classes-item">
          <div class="bg-light rounded-circle w-75 mx-auto p-3">
            <img class="img-fluid rounded-circle" src="../../../../assets/img/classes-4.jpg" alt="">
          </div>
          <div class="bg-light rounded p-4 pt-5 mt-n5">
            <a class="d-block text-center h3 mt-3 mb-4" href="">{{'Language & Speaking'|translate}}</a>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="d-flex align-items-center">
                <img class="rounded-circle flex-shrink-0" src="../../../../assets/img/user.jpg" alt=""
                  style="width: 45px; height: 45px;">
                <div class="ms-3">
                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                  <small>{{'Teacher'|translate}}</small>
                </div>
              </div>
              <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
            </div>
            <div class="row g-1">
              <div class="col-4">
                <div class="border-top border-3 border-primary pt-2">
                  <h6 class="text-primary mb-1">{{'Age'|translate}}:</h6>
                  <small>3-5 {{'Years'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-success pt-2">
                  <h6 class="text-success mb-1">{{'Time'|translate}}:</h6>
                  <small>9-10 {{'AM'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-warning pt-2">
                  <h6 class="text-warning mb-1">{{'Capacity'|translate}}:</h6>
                  <small>30 {{'Kids'|translate}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="classes-item">
          <div class="bg-light rounded-circle w-75 mx-auto p-3">
            <img class="img-fluid rounded-circle" src="../../../../assets/img/classes-5.jpg" alt="">
          </div>
          <div class="bg-light rounded p-4 pt-5 mt-n5">
            <a class="d-block text-center h3 mt-3 mb-4" href="">{{'Religion & History'|translate}}</a>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="d-flex align-items-center">
                <img class="rounded-circle flex-shrink-0" src="../../../../assets/img/user.jpg" alt=""
                  style="width: 45px; height: 45px;">
                <div class="ms-3">
                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                  <small>{{'Teacher'|translate}}</small>
                </div>
              </div>
              <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
            </div>
            <div class="row g-1">
              <div class="col-4">
                <div class="border-top border-3 border-primary pt-2">
                  <h6 class="text-primary mb-1">{{'Age'|translate}}:</h6>
                  <small>3-5 {{'Years'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-success pt-2">
                  <h6 class="text-success mb-1">{{'Time'|translate}}:</h6>
                  <small>9-10 {{'AM'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-warning pt-2">
                  <h6 class="text-warning mb-1">{{'Capacity'|translate}}:</h6>
                  <small>30 {{'Kids'|translate}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="classes-item">
          <div class="bg-light rounded-circle w-75 mx-auto p-3">
            <img class="img-fluid rounded-circle" src="../../../../assets/img/classes-6.jpg" alt="">
          </div>
          <div class="bg-light rounded p-4 pt-5 mt-n5">
            <a class="d-block text-center h3 mt-3 mb-4" href="">{{'General Knowledge'|translate}}</a>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="d-flex align-items-center">
                <img class="rounded-circle flex-shrink-0" src="../../../../assets/img/user.jpg" alt=""
                  style="width: 45px; height: 45px;">
                <div class="ms-3">
                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                  <small>{{'Teacher'|translate}}</small>
                </div>
              </div>
              <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
            </div>
            <div class="row g-1">
              <div class="col-4">
                <div class="border-top border-3 border-primary pt-2">
                  <h6 class="text-primary mb-1">{{'Age'|translate}}:</h6>
                  <small>3-5 {{'Years'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-success pt-2">
                  <h6 class="text-success mb-1">{{'Time'|translate}}:</h6>
                  <small>9-10 {{'AM'|translate}}</small>
                </div>
              </div>
              <div class="col-4">
                <div class="border-top border-3 border-warning pt-2">
                  <h6 class="text-warning mb-1">{{'Capacity'|translate}}:</h6>
                  <small>30 {{'Kids'|translate}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Classes End -->


<!-- Appointment Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="bg-light rounded">
      <div class="row g-0">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="h-100 d-flex flex-column justify-content-center p-5">
            <h1 class="mb-4">{{'Make Appointment'|translate}}</h1>
            <form>
              <div class="row g-3">
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="text" class="form-control border-0" id="gname"
                      placeholder="{{'Gurdian Name'|translate}}">
                    <label for="gname">{{'Gurdian Name'|translate}}</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="email" class="form-control border-0" id="gmail"
                      placeholder="{{'Gurdian Email'|translate}}">
                    <label for="gmail">{{'Gurdian Email'|translate}}</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="text" class="form-control border-0" id="cname"
                      placeholder="{{'Child Name'|translate}}">
                    <label for="cname">{{'Child Name'|translate}}</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="text" class="form-control border-0" id="cage" placeholder="{{'Child Age'|translate}}">
                    <label for="cage">{{'Child Age'|translate}}</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control border-0" placeholder="Leave a message here" id="message"
                      style="height: 100px"></textarea>
                    <label for="message">{{'Message'|translate}}</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit">{{'Submit'|translate}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100 rounded" src="../../../../assets/img/appointment.jpg"
              style="object-fit: cover;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Appointment End -->


<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">{{'Popular Teachers'|translate}}</h1>
      <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit
        eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item position-relative">
          <img class="img-fluid rounded-circle w-75" src="../../../../assets/img/team-1.jpg" alt="">
          <div class="team-text">
            <h3>{{'Full Name'|translate}}</h3>
            <p>Designation</p>
            <div class="d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item position-relative">
          <img class="img-fluid rounded-circle w-75" src="../../../../assets/img/team-2.jpg" alt="">
          <div class="team-text">
            <h3>{{'Full Name'|translate}}</h3>
            <p>Designation</p>
            <div class="d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item position-relative">
          <img class="img-fluid rounded-circle w-75" src="../../../../assets/img/team-3.jpg" alt="">
          <div class="team-text">
            <h3>{{'Full Name'|translate}}</h3>
            <p>Designation</p>
            <div class="d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">{{'Our Clients Say!'|translate}}</h1>
      <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit
        eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="testimonial-item bg-light rounded p-5">
        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet
          dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../../assets/img/testimonial-1.jpg"
            style="width: 90px; height: 90px;">
          <div class="ps-3">
            <h3 class="mb-1">Client Name</h3>
            <span>Profession</span>
          </div>
          <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-5">
        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet
          dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../../assets/img/testimonial-2.jpg"
            style="width: 90px; height: 90px;">
          <div class="ps-3">
            <h3 class="mb-1">Client Name</h3>
            <span>Profession</span>
          </div>
          <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-5">
        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet
          dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../../assets/img/testimonial-3.jpg"
            style="width: 90px; height: 90px;">
          <div class="ps-3">
            <h3 class="mb-1">Client Name</h3>
            <span>Profession</span>
          </div>
          <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
