<div class="container pb-5 w-50">
  <h1 class="mt-5 ">{{'login'|translate}}</h1>
  <div class="my-3">
    <label class="my-2 text-primary">{{'userName'|translate}} {{'or'|translate}} {{'email'|translate}}</label>
    <input type="text" [(ngModel)]="userName" class="form-control" placeholder="{{'userName'|translate}}">
  </div>

  <div class="my-3">
    <label class="my-2 text-primary">{{'password'|translate}}</label>
    <input type="password" [(ngModel)]="password" id="pwd" class="form-control"
      placeholder="{{'enterYourPassword'|translate}}">
  </div>


  <div class="d-flex justify-content-between align-items-center mt-4">
    <button (click)="login()" class="submit btn btn-primary text-white">{{'login'|translate}}</button>
    <h6 class="d-flex align-items-center mb-0"><span class="me-2">{{'New Here'|translate}}</span> <a
        routerLink="/register">{{'register'|translate}}...</a></h6>
  </div>

</div>
