<div class="content-body">
  <section>
    <div class="card">
      <div class="card-content">
        <div class="card-header">
          <h4 class="card-title">{{'children' | translate}}</h4>
          <div class="heading-elements">

          </div>
        </div>
        <div class="card-body data-list-view-header">
          <div class="table-responsive">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="top d-flex justify-content-between align-items-center px-2">
                <div class="actions action-btns">
                  <div class="dt-buttons btn-group">
                    <!--  <ng-container *ngIf="service.checkAuths('9')">-->
                    <button routerLink="/AddEditChild/0"
                      class="btn btn-primary ag-grid-export-btn d-flex align-items-center"
                      style="margin-left:5px;margin-right:5px;">
                      <span>{{'new' | translate}}</span>
                      <i class="fa fa-plus px-1"></i>
                    </button>
                    <!--</ng-container>-->
                  </div>
                  <div class="dt-buttons btn-group">
                    <button *ngIf="selectedRows.length" (click)="deleteRows()" class="btn btn-danger ag-grid-export-btn"
                      style="margin-left:5px;margin-right:5px;">
                      <i class="fa fa-trash"></i> {{'delete' | translate}}
                    </button>
                  </div>
                </div>
                <div class="action-filters">
                  <div id="DataTables_Table_0_filter" class="dataTables_filter">
                    <label>
                      <input type="search" #search (keyup)="onSearch(search.value)" class="form-control form-control-sm"
                        placeholder="{{'searchText' | translate}}">
                    </label>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
              <ng2-smart-table [settings]="settings" [source]="filterData" (userRowSelect)="onUserRowSelect($event)">
              </ng2-smart-table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
