<button type="button" class="btn btn-primary" (click)="openModal(template)">{{'renewSubscription'|translate}}</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'renewSubscription'|translate}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label for="options" class="d-block">Plans</label>
      <select2 [data]="plansOption" [(ngModel)]="selectedPlan"> </select2>
    </div>
    <div class="row my-3">
      <div class="col-xs-12 col-12 col-md-4 form-group mb-3 w-100">
        <label for="startDate">{{'startDate'|translate}}</label>
        <input type="text" placeholder="Datepicker" class="form-control" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}"
          [(ngModel)]="startDatePlan" bsDatepicker>
      </div>
    </div>
    <div class="d-flex justify-content-end"><button class="btn btn-primary"
        (click)="renew()">{{'goToPayment'|translate}}</button>
    </div>
  </div>
</ng-template>

<table class="table mt-3">
  <thead>
    <tr>
      <th>{{'planName'|translate}}</th>
      <th>{{'startDate'|translate}}</th>
      <th>{{'endDate'|translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userPlans; index as i">
      <td>{{item.planName}}</td>
      <td>{{item.startDate}}</td>
      <td>{{item.endDate}}</td>
    </tr>
    <!-- <tr *ngFor="let plan of shownPlans">
      <td>{{plan.planName}}</td>
      <td>{{plan.startDate}}</td>
      <td>{{plan.endDate}}</td>
    </tr> -->
  </tbody>
</table>
