<div class="container pb-5">
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Child</span>
        </button>
      </div>
      <div class="line"></div>

      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Child Test</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">


      <div id="test-l-1" class="content">


        <h1 class="mt-5 ">{{'children'|translate}}</h1>
        <form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="on">

          <div class="my-3">
            <label class="my-2 text-primary">{{'Child Name'|translate}}</label>
            <input type="text" class="form-control" formControlName="name" placeholder="{{'enterChildName'|translate}}">

            <div *ngIf="f.name.errors && (f.name.touched  || submitted)" class="errors mt-2">
              <span>{{'requiredInput' | translate}}</span>
            </div>

          </div>

          <div class="row">

            <div class="col-xs-6 col-6 col-md-4 form-group mb-3 w-50">
              <label for="birthdate">{{'birthdate'|translate}}</label>
              <input type="text" placeholder="{{'enterBirthdate'|translate}}" class="form-control"
                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" formControlName="birthdate" bsDatepicker
                (bsValueChange)="onBirthDateChange($event)">
            </div>
            <div class="col-xs-6 col-6 col-md-6 form-group mb-3 w-35">
              <label for="ageInMonth">{{'ageInMonth'|translate}}</label>
              <input type="text" class="form-control" formControlName="ageInMonth" readonly>
            </div>

          </div>
          <div class="row">

            <div class="col-xs-4 col-4 col-md-4 form-group mb-3 w-35">
              <label for="ageInMonth">{{'ageDays'|translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="dayDiff" [ngModelOptions]="{standalone: true}"
                readonly>
            </div>

            <div class="col-xs-4 col-4 col-md-4 form-group mb-3 w-35">
              <label for="ageInMonth">{{'ageInMonth'|translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="monthDiff" [ngModelOptions]="{standalone: true}"
                readonly>
            </div>

            <div class="col-xs-4 col-4 col-md-4 form-group mb-3 w-35">
              <label for="ageInMonth">{{'ageYears'|translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="yearDiff" [ngModelOptions]="{standalone: true}"
                readonly>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-6 col-md-4 form-group mb-3 w-50">
              <label for="options" class="d-block">{{'gender'|translate}}</label>
              <select2 [data]="sexData" formControlName="sex"
                placeholder="{{'enter'|translate}} {{'gender'|translate}}">
              </select2>
            </div>

            <div class="col-xs-6 col-6 col-md-4 form-group mb-3 w-50">
              <label for="options" class="d-block">{{'childLanguage'|translate}}</label>
              <select2 [data]="languageData" formControlName="childLang"
                placeholder="{{'enter'|translate}} {{'childLanguage'|translate}}"> </select2>
            </div>

          </div>

          <div *ngIf="f.ageInMonth.value > 95">
            <label for="options" class="d-block">{{'keyWordLength'|translate}}</label>
            <select2 [data]="keywordsLengthData" formControlName="keyWordLengthId"
              placeholder="{{'enter'|translate}} {{'keyWordLength'|translate}}"> </select2>
          </div>


          <div class="my-3">
            <label class="my-2 text-primary">{{'diagnosis'|translate}}</label>
            <textarea type="text" class="form-control" formControlName="diagnosis"
              placeholder="{{'diagnosis'|translate}}"> </textarea>
          </div>

          <div class="my-3">
            <label class="my-2 text-primary">{{'الحاله '|translate}}</label>
            <textarea type="text" class="form-control" formControlName="diagnosis"
              placeholder="{{'الحاله'|translate}}"> </textarea>
          </div>








          <div class="d-flex justify-content-between align-items-center">
            <button [disabled]="formGroup.invalid" type="submit"
              class="submit btn btn-primary mt-3 text-white">{{'save'|translate}}</button>
            <button *ngIf="id != 0 && !editMode" type="button" [routerLink]="['childtest', id]"
              class="submit btn btn-primary mt-3 text-white">{{'goToTest'|translate}}</button>
          </div>

          <button *ngIf="id != 0 && !editMode" type="button"
            class="submit btn btn-primary mt-3 text-white">{{'goToTest'|translate}}</button>


        </form>





        <!-- <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
          </div> -->
        <button (click)="next()" class="btn btn-primary">Next</button>
      </div>



      <div id="test-l-2" class="content text-center">
        <!-- <app-child-test></app-child-test> -->


        <span>
          {{currentExam?.nameEn}}
        </span>
        <br />

        <span>
          {{currentExamClauses?.nameEn}}
        </span>
        <br />
        <span>
          {{currentVideo?.nameEn}}
        </span>



        <div>
          <label>Exam Degree</label>
          <select class="form-select mb-3 w-25" [(ngModel)]="examDegree">
            <option *ngFor="let i of [1,2,3]" [selected]="shownResult.result == i">{{i}}</option>
          </select>
        </div>



        <button (click)="nextExam()" class="btn btn-primary mt-5">Next Exam</button>




        <video width="1000px" height="auto" controlsList="nodownload" controls class="d-flex m-auto my-5"
          [src]='baseUrl+ currentVideo?.videoUrl'>
          <source [src]='baseUrl+ currentVideo?.videoUrl' controls>
        </video>


        <button type="submit" class="btn btn-primary mt-5">Submit</button>
      </div>


      <!-- </form> -->
    </div>
  </div>

</div>