<!-- Page Header End -->
<div class="container-xxl py-5 page-header position-relative mb-5">
  <div class="container py-5">
    <h1 class="display-2 text-white animated slideInDown mb-4">About Us</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a>Pages</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="mb-4">Learn More About Our Work And Our Cultural Activities</h1>
        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et
          lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam
          ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos, ipsum labore duo duo sit
          no sea diam. Et dolor et kasd ea. Eirmod diam at dolor est vero nonumy magna.</p>
        <div class="row g-4 align-items-center">
          <div class="col-sm-6">
            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Read More</a>
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center">
              <img class="rounded-circle flex-shrink-0" src="../../../../assets/../../../../assets/img/user.jpg" alt="" style="width: 45px; height: 45px;">
              <div class="ms-3">
                <h6 class="text-primary mb-1">Jhon Doe</h6>
                <small>CEO & Founder</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
        <div class="row">
          <div class="col-12 text-center">
            <img class="img-fluid w-75 rounded-circle bg-light p-3" src="../../../../assets/img/about-1.jpg" alt="">
          </div>
          <div class="col-6 text-start" style="margin-top: -150px;">
            <img class="img-fluid w-100 rounded-circle bg-light p-3" src="../../../../assets/img/about-2.jpg" alt="">
          </div>
          <div class="col-6 text-end" style="margin-top: -150px;">
            <img class="img-fluid w-100 rounded-circle bg-light p-3" src="../../../../assets/img/about-3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Call To Action Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="bg-light rounded">
      <div class="row g-0">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100 rounded" src="../../../../assets/img/call-to-action.jpg" style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <div class="h-100 d-flex flex-column justify-content-center p-5">
            <h1 class="mb-4">Become A Teacher</h1>
            <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
              Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
            </p>
            <a class="btn btn-primary py-3 px-5" href="">Get Started Now<i class="fa fa-arrow-right ms-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Call To Action End -->


<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">Popular Teachers</h1>
      <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit
        eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item position-relative">
          <img class="img-fluid rounded-circle w-75" src="../../../../assets/img/team-1.jpg" alt="">
          <div class="team-text">
            <h3>Full Name</h3>
            <p>Designation</p>
            <div class="d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item position-relative">
          <img class="img-fluid rounded-circle w-75" src="../../../../assets/img/team-2.jpg" alt="">
          <div class="team-text">
            <h3>Full Name</h3>
            <p>Designation</p>
            <div class="d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item position-relative">
          <img class="img-fluid rounded-circle w-75" src="../../../../assets/img/team-3.jpg" alt="">
          <div class="team-text">
            <h3>Full Name</h3>
            <p>Designation</p>
            <div class="d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->
