<div class="container-fluid p-0 mb-5">
  <div class="owl-carousel position-relative owl-loaded owl-drag">
    <div class="owl-carousel-item position-relative">
      <!-- <img class="img-fluid" src="../../../../assets/img/carousel-1.jpg" alt=""> -->

      <ngb-carousel>
        <ng-container *ngFor="let item of  dataslider; index as i">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="item.img" class="slider_img img-fluid">
              <!-- <img src="../../../../src/assets/images/slider/s_2.jpg" class="slider_img img-fluid"> -->

              <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(0, 0, 0, .2);">
                <div class="container">
                  <div class="row justify-content-start">
                    <div class="col-10 col-lg-8">
                      <h1 class="display-2 text-white animated slideInDown mb-4">{{'The Best Kindergarten
                        School For Your Child'|translate}}</h1>
                      <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum
                        dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd
                        rebum sea elitr.</p>
                      <a href=""
                        class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">{{'learnMore'|translate}}</a>
                      <a href=""
                        class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">{{'ourClasses'|translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </ng-template>

        </ng-container>
      </ngb-carousel>



    </div>

  </div>
</div>
