// ============================ MARGIN =======================================
@import '~bs-stepper/dist/css/bs-stepper.min.css';
.ms-1:lang(ar) {
  margin-left: .25rem !important;
  margin-right: 0 !important;
}

.me-1:lang(ar) {
  margin-right: .25rem !important;
  margin-left: 0 !important;
}

.ms-2:lang(ar) {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}

.me-2:lang(ar) {
  margin-right: 0 !important;
  margin-left: 0.5rem !important;
}

.me-3:lang(ar) {
  margin-right: 0 !important;
  margin-left: 1rem !important;
}

.ms-3:lang(ar) {
  margin-left: 0 !important;
  margin-right: 1rem !important;
}


.ms-4:lang(ar) {
  margin-left: 0 !important;
  margin-right: 1.5rem !important;
}


.ms-4:lang(ar) {
  margin-right: 0 !important;
  margin-left: 1.5rem !important;
}

.ms-5:lang(ar) {
  margin-left: 0 !important;
  margin-right: 3rem !important;
}


.ms-5:lang(ar) {
  margin-right: 0 !important;
  margin-left: 3rem !important;
}

.ms-auto:lang(ar) {
  margin-right: auto !important;
}

.me-auto:lang(ar) {
  margin-left: auto !important;
}

// ======================================== PADDING ==================================

.ps-1:lang(ar) {
  padding-left: .25rem !important;
  padding-right: 0 !important;
}

.pe-1:lang(ar) {
  padding-right: .25rem !important;
  padding-left: 0 !important;
}

.pe-2:lang(ar) {
  padding-right: 0 !important;
  padding-left: 0.5rem !important;
}

.ps-2:lang(ar) {
  padding-left: 0 !important;
  padding-right: 0.5rem !important;
}

.pe-3:lang(ar) {
  padding-right: 0 !important;
  padding-left: 1rem !important;
}

.ps-3:lang(ar) {
  padding-left: 0 !important;
  padding-right: 1rem !important;
}

.ps-4:lang(ar) {
  padding-left: 0 !important;
  padding-right: 1.5rem !important;
}


.pe-4:lang(ar) {
  padding-right: 0 !important;
  padding-left: 1.5rem !important;
}

.ps-5:lang(ar) {
  padding-left: 0 !important;
  padding-right: 3rem !important;
}


.ps-5:lang(ar) {
  padding-right: 0 !important;
  padding-left: 3rem !important;
}

// ================================ ARROWS ===================================

i.fa-arrow-right:lang(ar),
i.bi-arrow-left:lang(ar),
i.fa-arrow-left:lang(ar) {
  transform: scaleX(-1);
}


// ====================================================================

.form-floating>label:lang(ar) {
  right: 0 !important;
}

.footer .btn.btn-link:lang(ar) {
  text-align: right !important;
}

.footer:lang(ar) .btn.btn-link::before {
  content: "\f104";
  margin-right: 0px;
  margin-left: 10px;
}

.end-0:lang(ar) {
  left: 0;
  right: auto !important;
}

.footer .footer-menu a:lang(ar) {
  border-right: none !important;
  border-left: 1px solid rgba(255, 255, 255, .1) !important;
  margin-right: 0;
  padding-right: 0;
  margin-left: 15px;
  padding-left: 15px;
}

.footer .footer-menu a:last-child:lang(ar) {
  border-left: none !important;
}

textarea {
  resize: none;
}

.form-floating:lang(ar)>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  transform: scale(0.85) translateY(-0.5rem) translateX(2.2rem) !important;
}

// select2 ul{
//   text-align: right !important;
// }

* {
  font-family: 'Ubuntu', sans-serif !important;
}

*:lang(ar) {
  font-family: 'El Messiri', sans-serif !important;
}

i:lang(ar),
i:lang(en) {
  font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands' !important;
}

.rtl .ng2-smart-action-multiple-select input[type="checkbox"] {
  width: auto !important;
}

.rtl .ng2-smart-actions {
  width: 50px;
}

.rtl .ng2-smart-title {
  padding: 5px;
}