<div class="container-xxl bg-white p-0" [dir]="layout">
  <!-- Spinner Start -->

  <!-- Spinner End -->


  <!-- Navbar Start -->
  <app-navbar (getLayout)="getLayout($event)"></app-navbar>
  <!-- Navbar End -->


  <router-outlet></router-outlet>
  <!-- <input type="checkbox" class="form-check-input"> -->

  <!-- Footer Start -->
  <app-footer></app-footer>
  <!-- Footer End -->

  <!--
// "./src/assets/js/main.js",
// "./src/assets/lib/wow/wow.js",
// "./src/assets/lib/easing/easing.min.js",
// "./src/assets/lib/waypoints/waypoints.min.js",
// "./src/assets/lib/owlcarousel/owl.carousel.min.js" -->


  <!-- Back to Top -->
  <a (click)="goTop()" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!-- /End Footer Area -->
<ngx-spinner bdColor="rgba(253, 253, 255, 0.8)" size="medium" color="#fff" type="null">
	<div class="spinner-border" role="status"><span class="sr-only">Loading...</span>
	</div>
</ngx-spinner>
</div>
