<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
  <a href="index.html" class="navbar-brand">
    <h1 class="m-0 text-primary"><img src="../../../../assets/img/SH last-01.png" class="logo" alt="logo"> </h1>
  </a>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav mx-auto text-center">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="home">{{'homePage'|translate}}</a>
      <a routerLink="about" class="nav-item nav-link" routerLinkActive="active">{{'AboutUs'|translate}}</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="classes">{{'classes'|translate}}</a>
      <!-- <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
        <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/facility">School Facilities</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/popular-teachers">Popular Teachers</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/become-teacher">Become A Teachers</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/appointment">Make Appointment</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/testimonial">Testimonial</a>
        </div>
      </div> -->
      <a routerLink="contact" routerLinkActive="active" class="nav-item nav-link">{{'contactUs'|translate}}</a>

      <!-- <a class="nav-item nav-link">
      <div class="col text-end">
        <div ngbDropdown placement="top-end" class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button ngbDropdownItem><span class="flag-icon flag-icon-us"></span> English</button>
            <button ngbDropdownItem><span class="flag-icon flag-icon-us"></span> English</button>

          </div>
        </div>
      </div>
    </a> -->

      <a class="d-flex align-items-center justify-content-center nav-item nav-link">
        <select name="lang" id="mySelect" class="border-0 form-select w-auto" #mySelect
          (change)='switchLang(mySelect.value)'>
          <option *ngIf="lang === 'en'" value='en' selected>
            <span class="flag-icon flag-icon-us"></span>
            En
          </option>
          <option *ngIf="lang === 'ar'" value='en'>
            <span class="flag-icon flag-icon-us"></span>
            En
          </option>

          <option *ngIf="lang === 'ar'" value='ar' selected>
            <span class="flag-icon flag-icon-us"></span>
            AR
          </option>
          <option *ngIf="lang === 'en'" value='ar'>
            <span class="flag-icon flag-icon-us"></span>
            AR
          </option>
        </select>

        <!-- <div class="dropdown-menu" aria-labelledby="dropdown09">
        <a *ngIf="translate.currentLang == 'en'" class="dropdown-item"
          (click)="switchLang('ar')"><span class="flag-icon flag-icon-eg"> </span>AR</a>
        <a *ngIf="translate.currentLang == 'ar'" class="dropdown-item"
          (click)="switchLang('en')"><span class="flag-icon flag-icon-us"> </span>EN</a>
      </div> -->
      </a>
      <a *ngIf="service.userName != ''" href=""
        class="btn btn-primary nav-item nav-link w-50 m-auto rounded-pill d-sm-block d-lg-none"
        routerLink="/myProfile"><span class="me-3" *ngIf="!getUserName">{{"myProfile"|translate}}</span><span class="me-3"
          *ngIf="getUserName">{{getUserName}}</span><i class="fa fa-arrow-right"></i></a>

      <a *ngIf="service.userName == ''" href=""
        class="btn btn-primary nav-item nav-link rounded-pill d-sm-block d-lg-none" routerLink="/login"><span
          class="me-3">{{"joinUs"|translate}}</span><i class="fa fa-arrow-right"></i></a>

    </div>
    <a *ngIf="service.userName != ''" href="" class="btn btn-primary rounded-pill d-none d-lg-block"
      routerLink="/myProfile"><span class="me-3" *ngIf="!getUserName">{{"myProfile"|translate}}</span><span class="me-3"
        *ngIf="getUserName">{{getUserName}}</span><i class="fa fa-arrow-right"></i></a>

    <a *ngIf="service.userName == ''" href="" class="btn btn-primary rounded-pill d-none d-lg-block"
      routerLink="/login"><span class="me-3">{{"joinUs"|translate}}</span><i class="fa fa-arrow-right"></i></a>
  </div>


</nav>
