<div class="modal-header">
  <h4 class="modal-title pull-left">{{'renewSubscription'|translate}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <label for="options" class="d-block">Plans</label>
    <select2 [data]="plansOption" [(ngModel)]="selectedPlan"> </select2>
  </div>
  <div class="row my-3">
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3 w-100">
      <label for="startDate">{{'startDate'|translate}}</label>
      <input type="text" placeholder="Datepicker" class="form-control" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}"
        [(ngModel)]="startDatePlan" bsDatepicker>
    </div>
  </div>
  <div class="d-flex justify-content-end"><button class="btn btn-primary"
      (click)="renew()">{{'goToPayment'|translate}}</button>
  </div>
</div>
