<footer class="container-fluid bg-dark text-white-50 footer pt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h3 class="text-white mb-4">{{'GetInTouch'|translate}}</h3>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3 class="text-white mb-4">{{'Quick Links'|translate}}</h3>
        <a class="btn btn-link text-white-50" href="">{{'AboutUs'|translate}}</a>
        <a class="btn btn-link text-white-50" href="">{{'contactUs'|translate}}</a>
        <a class="btn btn-link text-white-50" href="">{{'Our Services'|translate}}</a>
        <a class="btn btn-link text-white-50" href="">{{'Privacy Policy'|translate}}</a>
        <a class="btn btn-link text-white-50" href="">{{'Terms & Condition'|translate}}</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3 class="text-white mb-4">{{'Photo Gallery'|translate}}</h3>
        <div class="row g-2 pt-2">
          <div class="col-4">
            <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-1.jpg" alt="">
          </div>
          <div class="col-4">
            <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-2.jpg" alt="">
          </div>
          <div class="col-4">
            <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-3.jpg" alt="">
          </div>
          <div class="col-4">
            <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-4.jpg" alt="">
          </div>
          <div class="col-4">
            <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-5.jpg" alt="">
          </div>
          <div class="col-4">
            <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-6.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3 class="text-white mb-4">{{'Newsletter'|translate}}</h3>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="position-relative mx-auto" style="max-width: 400px;">
          <input class="form-control bg-white text-primary w-100 py-3 ps-4 pe-5" type="text"
            placeholder="{{'your email'|translate}}">
          <button type="button"
            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">{{"signUp"|translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
          <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a routerLink="/home">{{'homePage'|translate}}</a>
            <a href="">{{'Cookies'|translate}}</a>
            <a href="">{{'Help'|translate}}</a>
            <a href="">{{'FQAs'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
