<div class="w-50 m-auto">
    <h3 class="text-center mt-5">Verify Phone Number</h3>
    <div class="my-3 text-center">
        <div class="d-flex justify-content-between align-items-center">
            <label for="verifyPhone" class="mb-2">Enter OTP</label>
            <span>{{display}}</span>
        </div>
        <input type="text" [(ngModel)]="otp" maxlength="4" class="form-control m-auto">
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-primary" (click)="checkOtpCode()" *ngIf="!timeOut">Verify OTP</button>
        <button class="btn btn-primary" (click)="resendOtpCode()" *ngIf="timeOut">Resend Code</button>
    </div>
</div>