/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.iti {
  width: 100% !important;
}

.iti:lang(ar) {
  direction: ltr !important;
}

