<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center justify-content-between align-items-sm-start p-2 text-white min-vh-75">
        <!-- <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a> -->
        <ul class="w-100 nav nav-pills flex-column mb-sm-auto p-0 mb-0 align-items-center align-items-sm-start"
          id="menu">
          <li class="nav-item w-100 mt-3">
            <a [ngClass]="{'active': service.currentTab === 1}" style="cursor: pointer;"
              class="nav-link d-flex align-items-center py-3 align-middle px-2" (click)="changeTab(1)">
               <div class="icons text-center">
                <!-- <i class="fas fa-child "></i> -->
                <i class="fas fa-user-friends"></i>
              </div>
              <span class="ms-1 d-none d-sm-inline">{{'children'|translate}}</span>
            </a>
          </li>
          <!-- <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                      <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          <li class="w-100">
                              <a  class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                          </li>
                          <li>
                              <a  class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                          </li>
                      </ul>
                  </li> -->
          <li class='w-100 mt-3'>
            <a [ngClass]="{'active': service.currentTab === 2}" style="cursor: pointer;"
              class="nav-link d-flex align-items-center py-3 px-0 align-middle px-2" (click)="changeTab(2)">
              <div class="icons text-center">
                <i class="fas fa-child "></i>
             
             </div>
             <span class="ms-1 d-none d-sm-inline">{{'childTest'|translate}}</span>
            </a>
          </li>

          <li class='w-100 mt-3'>
            <a [ngClass]="{'active': service.currentTab === 3}" style="cursor: pointer;"
              class="nav-link d-flex align-items-center py-3 px-0 align-middle px-2" (click)="changeTab(3)">
              <div class="icons text-center">
                <i class="fas fa-user-cog"></i>
              </div>
              <span class="ms-1 d-none d-sm-inline">{{'profileSettings'|translate}}</span>

          
            </a>
          </li>

          <li class='w-100 mt-3'>
            <a [ngClass]="{'active': service.currentTab === 4}" style="cursor: pointer;"
              class="nav-link d-flex align-items-center py-3 px-0 align-middle px-2" (click)="changeTab(4)">
              
            
              <div class="icons text-center">
                <i class="fas fa-credit-card"></i>
              </div>
              <span class="ms-1 d-none d-sm-inline">{{'myPlan'|translate}}</span>
            
            </a>
          </li>
          <!-- <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                          <li class="w-100">
                              <a  class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                          </li>
                          <li>
                              <a  class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                          </li>
                      </ul>
                  </li> -->
          <!-- <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a  class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
              </li>
              <li>
                <a  class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
              </li>
              <li>
                <a  class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
              </li>
              <li>
                <a  class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
              </li>
            </ul>
          </li> -->
          <!-- <li>
            <a  class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Children</span> </a>
          </li> -->

          <li class='w-100 mt-3'>
            <a style="cursor: pointer;"
              class="nav-link d-flex align-items-center px-2 align-middle d-flex align-items-center"
              (click)="confirmlogOut()">
              <div class="icons arrow">
                <i class="fs-4 bi-arrow-left me-2"></i>
              </div>
              <span class="ms-1 d-none d-sm-inline">{{'logout'|translate}}</span>
            </a>
          </li>

        </ul>
        <hr>
        <!-- <div class="dropdown pb-4">
          <a  class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" >New project...</a></li>
            <li><a class="dropdown-item" >Settings</a></li>
            <li><a class="dropdown-item" >Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" >Sign out</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="col py-3">
      <!-- <h3>Left Sidebar with Submenus</h3>
      <p class="lead">
        An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only a
        single
        menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in width on
        smaller screens.</p>
      <ul class="list-unstyled">
        <li>
          <h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile
        </li>
      </ul> -->
      <ng-container *ngIf="service.currentTab == 1">
        <app-children></app-children>
      </ng-container> 

      <ng-container *ngIf="service.currentTab == 2">
        <app-add-edit-children></app-add-edit-children>
      </ng-container>

      <ng-container *ngIf="service.currentTab == 3">
        <app-edit-profile></app-edit-profile>
      </ng-container>

      <ng-container *ngIf="service.currentTab == 4">
       <app-payment-and-plan></app-payment-and-plan>
      </ng-container>

    </div>
  </div>
</div>
