<div class="card p-3 text-center">
  <div class="d-flex flex-row justify-content-center mb-3">
    <div class="image"> <img src="https://i.imgur.com/hczKIze.jpg" class="rounded-circle"> </div>
    <div class="d-flex flex-column ms-3 user-details">
      <h4 class="mb-0">{{userInfo.userName}}</h4>
    </div>
  </div>
  <h4>Edit Profile</h4>
  <div class="row g-3">
    <div class="col-md-6">
      <div class="inputs"> <label>{{'nameAr'|translate}}</label> <input class="form-control"
          [(ngModel)]="userInfo.nameAr" type="text" placeholder="{{'nameAr'|translate}}"> </div>
    </div>
    <div class="col-md-6">
      <div class="inputs"> <label>{{'nameEn'|translate}}</label> <input class="form-control"
          [(ngModel)]="userInfo.nameEn" type="text" placeholder="{{'nameEn'|translate}}"> </div>
    </div>

    <div class="col-md-6">
      <div class="inputs"> <label>{{'email'|translate}}</label> <input class="form-control" [(ngModel)]="userInfo.email"
          type="text" placeholder="{{'email'|translate}}"> </div>
    </div>

    <div class="col-md-6">
      <div class="inputs"> <label>{{'phone'|translate}}</label> <input class="form-control" [(ngModel)]="userInfo.phone"
          type="text" placeholder="{{'phone'|translate}}"> </div>
    </div>


    <div class="col-md-6">
      <div class="inputs"> <label>{{'password'|translate}}</label> <input class="form-control"
          [(ngModel)]="userInfo.password" type="password" placeholder="{{'password'|translate}}"> </div>
    </div>

    <div class="col-md-6">
      <div class="inputs"> <label>{{'creationDate'|translate}}</label> <input readonly [(ngModel)]="userInfo.createOn"
          class="form-control" type="text" placeholder="{{'creationDate'|translate}}"> </div>
    </div>

  </div>
  <div class="row my-3">
    <div class="col-md-12">
      <div class="about-inputs"> <label>{{'address'|translate}}</label> <textarea class="form-control" type="text"
          [(ngModel)]="userInfo.address" placeholder="{{'tellUsAboutYourSelf'|translate}}"> </textarea> </div>
    </div>
  </div>

  <div class="form-group">
    <label for="helpInputTop" class="mb-2">{{'logoImage' | translate}}</label>
    <ngx-dropzone [multiple]="false" (change)="onSelectLogo($event)">
      <!--<ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>-->
      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of filesLogo" [file]="f"
        [removable]="true" (removed)="onRemoveLogo(f)">
        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </ngx-dropzone>
  </div>


  <div class="mt-3 gap-2 d-flex justify-content-end"> <button class="px-3 btn btn-sm btn-primary"
      (click)="saveUser()">{{'save'|translate}}</button> </div>
</div>
