<span *ngIf="!isOpenDrawer" (click)="onClickEdit($event)" class="fonticon-container" style="cursor: pointer;"><i class="fas fa-edit"></i></span>
<span *ngIf="isOpenDrawer" (click)="onClickEdit($event)" class="fonticon-container" style="cursor: pointer;"><i class="fas fa-eye"></i></span>
<span (click)="onClickDelete($event)" class="action-delete " style="margin:5px;cursor: pointer;"><i class="fas fa-trash"></i></span>

 