<div class="container pb-5">
  <h1 class="mt-5 ">{{'register'|translate}}</h1>
  <ng-container *ngIf="!isOTPOpened">
    <form #for="ngForm" class="mt-4" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="row g-3">
        <div class="col-lg-6">
          <label class="my-2 text-primary">{{'User Name'|translate}}</label>
          <input type="text" class="form-control" formControlName="userName" (blur)="checkUserNameIsExist()"
            placeholder="{{'Enter your User Name'|translate}}">
          <div *ngIf="f.userName.errors && (f.userName.touched  || isSubmit)" class="errors mt-2">
            <span>{{'requiredInput' | translate}}</span>
          </div>
        </div>

        <div class="col-lg-6">
          <label class="my-2 text-primary">{{'yourName'|translate}}</label>
          <input type="text" class="form-control" formControlName="nameAR" placeholder="{{'enterYourName'|translate}}">
        </div>

        <div class="col-lg-6">
          <label class="my-2 text-primary">{{'Email'|translate}}</label>
          <input type="email" class="form-control" formControlName="email" placeholder="{{'email' | translate}}" email
            (blur)="checkEmailIsExist()">

          <div *ngIf="f.email.errors && (f.email.touched  || isSubmit)" class="errors mt-2">
            <span>{{'requiredInput' | translate}}</span>
          </div>
        </div>

        <div class="col-lg-6">
          <label for="phone" class="d-block my-2 text-primary">{{'phone'|translate}} </label>

          <ngx-intl-tel-input name="phone" class="w-100" formControlName="phone" [cssClass]="'form-control'"
            [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
            [searchCountryFlag]="true" (ngModelChange)="checkPhoneIsExist()"
            [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name  ]" [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.Egypt" [phoneValidation]="true" [separateDialCode]="true"
            [numberFormat]="PhoneNumberFormat.National">
          </ngx-intl-tel-input>

          <div *ngIf=" for.form.controls['phone'].invalid && ( for.form.controls['phone'].touched  || isSubmit)">
            <div class="alert alert-danger" *ngIf="!for.form.value.phone">{{'requiredInput' | translate}}</div>
            <div *ngIf="for.form.value.phone && for.form.controls['phone'].errors">{{'invalidPhoneNumber'|translate}}
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <label class="my-2 text-primary">{{'password'|translate}}</label>
          <input type="password" class="form-control" formControlName="password"
            placeholder="{{'password' | translate}}">

          <div *ngIf="f.password.errors && (f.password.touched  || isSubmit)" class="errors mt-2">
            <span>{{'requiredInput' | translate}}</span>
          </div>
        </div>

        <div class="col-lg-6">
          <label class="my-2 text-primary">{{'confirmPassword'|translate}}</label>
          <input type="password" class="form-control" formControlName="confirmPassword"
            placeholder="{{'confirmPassword' | translate}}">

          <div *ngIf="f.confirmPassword.errors && (f.confirmPassword.touched  || isSubmit)" class="errors mt-2">
            <span *ngIf="!f.confirmPassword.errors?.confirmedValidator">{{'requiredInput' | translate}}</span>
            <span *ngIf="f.confirmPassword.errors?.confirmedValidator">
              {{"passworddoesn'tmatch" | translate}}
            </span>
          </div>
        </div>

        <div class="col-lg-6">
          <label class="my-2 text-primary">{{'address'|translate}}</label>
          <textarea type="text" class="form-control" formControlName="address"
            placeholder="{{'address'|translate}}"></textarea>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <button [disabled]="signinForm.invalid" type="submit"
            class="submit btn btn-primary mt-3 text-white">{{'Submit'|translate}}</button>
          <h6><span class="me-2">{{'Already registered'|translate}}</span><a routerLink="/login">{{'Sign in'|translate}}...</a></h6>
        </div>

        <!-- <p class="text-primary mt-5" *ngIf="registered">{{'this email is already registered'|translate}}</p> -->
      </div>
    </form>

  </ng-container>
  <ng-container *ngIf="isOTPOpened" class="w-50">
    <app-otp-popup></app-otp-popup>
  </ng-container>

</div>
