<div class="container py-5">
  <label for="exampleInputPassword1">Child Degree</label>
  <select class="form-select mb-3 w-25">  
    <option *ngFor="let i of [1,2,3]" [selected]="shownResult.result == i">{{i}}</option>
  </select>
  <button class="btn btn-primary" >SaveAndNext</button>
   
  <!-- <h1 class="text-center">Child Test</h1> -->
  <video width="1000px" height="auto" controlsList="nodownload" controls class="d-flex m-auto my-5" [src]="shownResult.videoSrc">
    <source src="../../../../../assets/videos/Wegz - Kan Nefsy - ويجز - كان نفسي prod. DJ Totti.mp4" controls>
  </video>
  
<!-- 
  <p>{{shownResult.description}}</p>
  <div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-primary" (click)="changeChild(-1)"><i class="fas fa-angle-double-left"></i>Previous</button>
    <button class="btn btn-primary" (click)="changeChild(1)">Next<i class="fas fa-angle-double-right"></i></button>
  </div> -->
</div>
