<!-- Page Header End -->
<div class="container-xxl py-5 page-header position-relative mb-5">
  <div class="container py-5">
    <h1 class="display-2 text-white animated slideInDown mb-4">Contact Us</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a>Pages</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Contact Us</li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">{{'GetInTouch'|translate}}</h1>
      <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit
        eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
    </div>
    <div class="row g-4 mb-5">
      <div class="col-md-6 col-lg-4 text-center wow fadeInUp" data-wow-delay="0.1s">
        <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4"
          style="width: 75px; height: 75px;">
          <i class="fa fa-map-marker-alt fa-2x text-primary"></i>
        </div>
        <h6>123 Street, New York, USA</h6>
      </div>
      <div class="col-md-6 col-lg-4 text-center wow fadeInUp" data-wow-delay="0.3s">
        <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4"
          style="width: 75px; height: 75px;">
          <i class="fa fa-envelope-open fa-2x text-primary"></i>
        </div>
        <h6>info@example.com</h6>
      </div>
      <div class="col-md-6 col-lg-4 text-center wow fadeInUp" data-wow-delay="0.5s">
        <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4"
          style="width: 75px; height: 75px;">
          <i class="fa fa-phone-alt fa-2x text-primary"></i>
        </div>
        <h6>+012 345 6789</h6>
      </div>
    </div>
    <div class="bg-light rounded">
      <div class="row g-0">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="h-100 d-flex flex-column justify-content-center p-5">
            <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax
              & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a
                href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
            <form>
              <div class="row g-3">
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="text" class="form-control border-0" id="name" placeholder="Your Name">
                    <label for="name">Your Name</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="email" class="form-control border-0" id="email" placeholder="Your Email">
                    <label for="email">Your Email</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control border-0" id="subject" placeholder="Subject">
                    <label for="subject">Subject</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control border-0" placeholder="Leave a message here" id="message"
                      style="height: 100px"></textarea>
                    <label for="message">Message</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
          <div class="position-relative h-100">
            <iframe class="position-relative rounded w-100 h-100"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
              frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
